doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/jquery/jquery-ui.min.css')
    link(rel='stylesheet', href='/SpryAssets/SpryMenuBarHorizontal.css')
  body
    block upperblock
    block middle
    script(src='/jquery/external/jquery/jquery.js')
    script(src='/jquery/jquery-ui.min.js')
    block scripts
    block content
    block bottom

